@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hind&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-family: 'Do Hyeon', sans-serif;
}

/* Utility */

body {
    color: #fff;
    line-height: 1.5;
    font-family: 'Hind', sans-serif;
}

.btn {
    background: hsl(217, 40%, 50%);
    padding: 1rem 0;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 300px;
    font-size: 1.2rem;
}

.btn:hover, .btn-footer:hover {
    background: hsl(217, 60%, 50%);
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

.btn-footer {
    padding: 0.7rem;
    width: 40%;
    margin: 1rem auto;
    background: hsl(217, 40%, 50%);
    color: #fff;
    border-radius: 50px;
    outline: none;
    border: none;
}

i:hover {
    color: hsl(217, 40%, 50%);
}

.py-1 {
    padding-bottom: 1.5rem;
}

span {
    color: orange;
}

/* Navigation */

nav {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 1rem;
    margin-right: 6%;
    list-style-type: none;
}
nav a:hover  {
    text-decoration: underline;
}
/* Background Video */
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
/* Hero Section */
.hero {
    z-index: 2;
    position: relative;
    font-size: 1.3rem;
    padding: 10rem;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    text-shadow: 2px 2px 2px #000;
}
/* Footer */
footer {
    background: #333;
    font-size: 1.4rem;
}

footer a:hover {
    text-decoration: underline;
}

#main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: #333;
    padding-top: 2rem;
    margin: auto;
    max-width: 700px;
}

#main-footer .item-2 ul {
    display: flex;
    /* For changing the icons direction */
}

#main-footer i {
    font-size: 1.7rem;
}

#main-footer ul, li {
    list-style: none;
}

#main-footer input {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 25px;
    width: 90%;
    outline: none;
    border: none;
}

#bottom-footer {
    text-align: center;
}
/* About Page */
#about-hero {
    background-color: hsl(217, 40%, 50%);
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('./img/ATRA-Doftana-drona-24.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
}
/* Despre Section */
#despre .flexbox-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: -14rem;
    width: 100%;
}

#despre .flex-item {
    margin: 1rem 2rem;
    max-width: 600px;
    background-color: #333;
    border-radius: 10px;
    font-size: 1.7rem;
    box-shadow: 10px 10px 2px #111;
}

#despre .flex-item:hover {
    background-position: center;
    text-shadow: 2px 2px 2px #000;
}

#despre .flex-item h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#despre .flex-item p {
    padding: 0 4rem;
    line-height: 1.5;
}

#despre .flex-item img {
    width: 120px;
    height: auto;
    margin-top: 1rem;
}

#despre .btn-about {
    background: hsl(217, 40%, 50%);
    padding: 1rem 0;
    margin: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    min-width: 300px;
    font-size: 1.2rem;
}

#despre .btn-about:hover {
    background: hsl(217, 60%, 50%);
    box-shadow: 2px 2px 2px #000;
    color: #fff;
    cursor: pointer;
}

#despre .box-1:hover {
    background: url('./img/melba1.jpg');
}

#despre .box-2:hover {
    background: url('./img/3011770852458365280.jpg') top;
}

#despre .box-3:hover {
    background: url('./img/ATRA-Doftana-drona-24.jpg');
}
/* Oferte Section */
#oferte {
    margin: 10rem 0;
    color: #000;
    padding: 0 6rem;
}

#oferte img:hover {
    opacity: 0.8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 4px;
  }
  
  .column {
    padding: 0 4px;
    width: 33.3%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }
/* Contact Page */ 
#contact-nav {
    background-color: hsl(217, 60%, 50%);
}

#contact {
    color: #000;
    height: 100vh;
    margin-top: 5rem;
}

#contact h1 {
    text-align: center;
}

#contact form {
    color: #000;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

#contact input {
    padding: 1rem;
    border: 1px solid #666;
}

#contact input:focus {
    border: 1px solid #000;
}

#contact textarea {
    resize: none;
    outline: none;
    background: url('./img/favourite.svg') no-repeat right;
    background-size: 100px;
    font-size: 1.6rem;
}

#contact textarea:focus {
    background: url('/img/thumb-up.svg') no-repeat right;
    background-size: 100px;
}

  







